<template>
    <form @submit.prevent="saveMovie">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" v-model="movie.title">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category"  v-model="movie.category">
                <option v-for="category in categories" :value="category.id">{{ category.title }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="poster">Poster</label>
            <input type="file" id="poster" class="form-control" @change="selectFile">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" v-model="movie.description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                method     : 'POST',
                url        : '/api/movies',
                poster     : null,
                categories : [
                                { id : 1, title : 'Action'},
                                { id : 2, title : 'Comedy'},
                                { id : 3, title : 'Drama'}
                            ],
                category   : 0,
                movie      : {
                                title       : '', 
                                category    : '', 
                                description : ''
                             }
            }
        },
        props: ['movieId'],
        mounted() {
            if (this.movieId != '') {
                this.getMovie();
                this.method = 'PUT';
                this.url    = '/api/movies/' + this.movieId;
            }
        },
        methods: {

            getMovie() {

                axios({
                    method : 'GET',
                    url    : '/api/movies/' + this.movieId
                }).then(response => {

                    this.movie = response.data;

                }, response => {

                    if (response.message) {
                        this.message = 'Please log in';
                    }

                });

            },
            saveMovie() {

                let formData = new FormData();

                formData.append('title', this.movie.title);
                formData.append('category', this.movie.category);
                formData.append('description', this.movie.description);
                formData.append('poster', this.poster);

                if (this.method == 'PUT') {
                    formData.append('_method', 'patch');
                }

                axios({
                    method : 'POST',
                    url    : this.url,
                    data   : formData,
                }).then(response => {

                    this.$toastr.s('Movie saved');

                    this.method  = 'PUT';
                    this.url     = '/api/movies/' + response.data.movie.id;
                    this.movieId = response.data.movie.id;

                }, response => {

                    this.$toastr.e('Movie update failed');

                });

            },
            selectFile(event) {
                this.poster = event.target.files[0];
            }

        }
    }
</script>
