<template>
    <div>

        <form class="form-inline mb-4">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="query" @keyup="getResults">

            <ul class="nav">
                <li class="nav-item" v-for="c in categories">
                    <a class="nav-link" :class="{ active : (category == c.id) }" href="#" @click.prevent="filterByCategory(c.id)" >{{ c.title }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/create" v-if="isAdmin == 1">Add Movie</a>
                </li>
            </ul>

        </form>

        <div class="row mb-4" v-if="results.data.length">
            <div class="col" v-for="(movie, index) in results.data">
                <a :href="/movies/ + movie.id"><img :src="movie.poster_url" width="150">{{ movie.title }}</a>
                <br/>
                <a :href="/movies/ + movie.id + '/edit'" v-if="isAdmin == 1">Edit</a>
                <a href="#" @click.prevent="deleteMovie(index, movie)" v-if="isAdmin == 1">Delete</a>
            </div>
        </div>

        <div v-else class="mb-4">
            <p>Sorry, we couldn't find a movie with that title.</p>
        </div>

        <pagination :data="results" @pagination-change-page="getResults"></pagination>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                isAdmin    : 0,
                categories : [
                                { id : 0, title : 'All'},
                                { id : 1, title : 'Action'},
                                { id : 2, title : 'Comedy'},
                                { id : 3, title : 'Drama'}
                            ],
                results    : { data : []},
                category   : 0,
                query      : '',
                message    : ''
            }
        },
        mounted() {
            this.isAdmin = Laravel.isAdmin;
            this.getResults();
        },
        methods: {

            filterByCategory(category) {
                this.category = category;
                this.getResults();
            },
            getResults(page = 1) {

                axios({
                    method : 'POST',
                    url    : '/api/search?page=' + page,
                    data   : { query : this.query, category : this.category}
                }).then(response => {

                    this.results = response.data;

                }, response => {

                    if (response.message) {
                        this.message = 'Please log in';
                    }

                });

            },
            deleteMovie(index, movie) {
                
                axios({
                    method : 'DELETE',
                    url    : '/api/movies/' + movie.id,
                }).then(response => {

                    this.results.data.splice(index, 1);
                    this.$toastr.s('Movie deleted');

                }, response => {

                   this.$toastr.e('Movie failed to update');

                });

            }

        }
    }
</script>
